In [2]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in c:\users\saxen\ai model\env\lib\site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\saxen\ai model\env\lib\site-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy>=1.26.0 in c:\users\saxen\ai model\env\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\saxen\ai model\env\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\saxen\ai model\env\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\saxen\ai model\env\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\saxen\ai model\env\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7
Note: you may need to restart the kernel to use updated packages.

In [4]:
from ucimlrepo import fetch_ucirepo
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
heart_disease = fetch_ucirepo(id=45)
X = heart_disease.data.features
y = heart_disease.data.targets
X.fillna(X.mean(), inplace=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
nb_model = GaussianNB()
nb_model.fit(X_train, y_train)
y_pred = nb_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)
print(f"Accuracy: {accuracy * 100:.2f}%")
print("Confusion Matrix:")
print(conf_matrix)
print("Classification Report:")
print(class_report)

Accuracy: 43.96%
Confusion Matrix:
[[36  5  2  1  4]
 [ 4  1  1  2  9]
 [ 0  2  0  3  7]
 [ 1  1  1  0  7]
 [ 0  0  0  1  3]]
Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.75      0.81        48
           1       0.11      0.06      0.08        17
           2       0.00      0.00      0.00        12
           3       0.00      0.00      0.00        10
           4       0.10      0.75      0.18         4

    accuracy                           0.44        91
   macro avg       0.22      0.31      0.21        91
weighted avg       0.49      0.44      0.45        91

C:\Users\saxen\AppData\Local\Temp\ipykernel_2088\4204846858.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.fillna(X.mean(), inplace=True)
C:\Users\saxen\AI Model\env\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [5]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,1,145,233,1,2,150,0,2.3,3,0.000000,6.0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.000000,3.0
2,67,1,4,120,229,0,2,129,1,2.6,2,2.000000,7.0
3,37,1,3,130,250,0,0,187,0,3.5,3,0.000000,3.0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.000000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,1,110,264,0,0,132,0,1.2,2,0.000000,7.0
299,68,1,4,144,193,1,0,141,0,3.4,2,2.000000,7.0
300,57,1,4,130,131,0,0,115,1,1.2,2,1.000000,7.0
301,57,0,2,130,236,0,2,174,0,0.0,2,1.000000,3.0
302,38,1,3,138,175,0,0,173,0,0.0,1,0.672241,3.0

In [7]:
y

     num
0      0
1      2
2      1
3      0
4      0
..   ...
298    1
299    2
300    3
301    1
302    0

[303 rows x 1 columns]

In [9]:
import joblib
joblib.dump(nb_model, 'heart_disease.pkl')

['heart_disease.pkl']